#menu {
    width: 1250px;
    height:80px;
    font-size: 30px;
    font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", sans-serif ;
    font-weight: bold;
    text-align: center;
    background-color: #CC9900;
        border-radius: 10px;
}
#menu li { 
display: inline; 
padding: 40px; 
}
#menu a {
    text-decoration: none;
    color: #000000;
    padding: 8px 8px 8px 8px;
}

#menu a:hover {
    color: #F90;
    background-color: #FFF;
}

.Course{
	padding: 71px;
	}.ProPic {
		padding: 20px;
}

#imageField
{
	padding-top: 5px;
	height: 60px;
	width: 60px;
	padding-left: 40px;
	}
	
.stds {
	padding-bottom: 20px;
}
